.productsDiv{
  border: 1px solid black;
  
}
.productsDiv a{
  list-style: none;
  text-decoration: none;
  color:black
}
.sort{
  margin-right: 15px;
  text-align: right;
  font-size: 1rem;
  cursor: pointer;
  
}
.sortText{
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(199, 219, 236);
  font-size: 1.2rem;
  font-weight: 500;
}
.container {
  border: 1px solid black;
  width: 80%;
  margin: 20px auto;
  background-color: aliceblue;
}
.container input {
  height: 25px;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  /* border: none; */
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.product {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.colOne {
  max-width: 500px;
  display: flex;
}
.imgDiv {
  margin-right: 30px;
}
.imgDiv img {
  width: 100px;
}
.imgRight {
  text-align: left;
}
.title input {
  font-weight: 500;
}
.price input {
  width: 90px;
}

.colTwo {
  width: 50%;
}
.colTwo textarea {
  width: 95%;
  font-size: 1rem;
  /* border: none; */
  background-color: transparent;
  resize: none;
  outline: none;
}
.controls {
  padding: 0 10px;
}
